.wrapper {
    max-width: $content-width;
    margin: auto;
    padding: 0 10%;
    @include media-laptop {

    }
    @include media-tablet {

    }
    @include media-mobile {
        padding: 0 20px;
    }
}