html {
  @include font(10px, 10px);
  font-family: Montserrat, sans-serif;
  color: $color-text-main; 
}

body {
  @include font(2.0rem, 2.4rem);
  background-color: $color-background;
  background-size: cover; 
  height: 100vh;
}

