.weather {

}

.weather__forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather__current {
 
}

.weather__max {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weather__num {
    @include font(20rem, 20rem, bold, normal);
    &_min {
        @include font(8.0rem, 9.8rem, 600, normal);
        display: inline-block;
    }
}

.weather__symbol {    
    width: 170px;
    &_min {   
        width: 70px;
        display: inline-block;
    }
}

.weather__text {
    @include font(2.2rem, 2.7rem, bold, normal);
}

.weather__day {
    @include font(2.2rem, 2.7rem, bold, normal);
}