.weather-max {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.weather__three-day {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.weather-max__icon {
  width: 200px;
}

.weather-mini__icon {
  width: 100px;
}

.weather-mini-container{
  display: flex;
}

.weather-max__temperature-today {
	@include font(16rem, 16rem, bold, normal);
}

.weather-max__weather-data {
	@include font(2.2rem, 1rem, bold, normal);
}

.weather-mini__day {
	@include font(2.2rem, 1rem, bold, normal);
}

.weather-mini__temperature {
	margin: 0;
	@include font(8rem, 8rem, bold, normal);
}






